############################################################
#  This work is licensed under the Creative Commons        #
#  Attribution-NonCommercial-ShareAlike 2.5 License.       #
#  To view a copy of this license, visit                   #
#  http://creativecommons.org/licenses/by-sa/2.5/          #
#  or send a letter to Creative Commons,                   #
#  559 Nathan Abbott Way, Stanford, California 94305, USA. #
#  Based on tenr's (http://tenr.de) fluxbox style          #
#  named tar                                               #
#  http://tenr.de/styles/searchstyle.php?stylename=tar     #
############################################################



################################################################################
#
# name: tara
# made: ajnasz
# date: 2008. july 6.
# http://www.ajnasz.hu
#
############################################################## FONTS ###########

*.font.effect: halo
menu.frame.font:			Cantarell-10
menu.title.font:			Cantarell-10:bold
toolbar.clock.font:			Cantarell-10
toolbar.workspace.font:			Cantarell-10:bold
toolbar.iconbar.focused.font:		Cantarell-11:bold
toolbar.iconbar.unfocused.font:		Cantarell-11
window.font:				Cantarell-11
window.title.focus.font:			Cantarell-11:bold
window.title.unfocus.font:			Cantarell-11
window.label.focus.font:			Cantarell-11:bold
window.label.unfocus.font:			Cantarell-11
############################################################## MENU ############

menu.bevelWidth:			2

menu.itemHeight:			20

menu.borderColor:			#141415
menu.borderWidth:			1

menu.bullet.position:			Right
menu.bullet:

menu.submenu.pixmap:			bullet.xpm
menu.hilite.submenu.pixmap:

menu.selected.pixmap:			selected.xpm
menu.hilite.selected.pixmap:
menu.unselected.pixmap:
menu.hilite.unselected.pixmap:

menu.title:				flat
menu.title.pixmap:			tbarufcs.xpm
menu.title.justify:			center
menu.title.color:			#232320
menu.title.colorTo:			#fffdfd
menu.title.textColor:			#fffdfd
menu.title.height: 10

menu.frame:				Raised Bevel1 Gradient Vertical
menu.frame.pixmap:
menu.frame.justify:			left
menu.frame.color:			#343B42
menu.frame.colorTo:			#232320
menu.frame.textColor:			#e7e7e7
menu.frame.disableColor:				#878787

menu.hilite:				flat
menu.hilite.pixmap:
menu.hilite.color:			#878787
menu.hilite.colorTo:			#878787
menu.hilite.textColor:			#e7e7e7

############################################################## TOOLBAR #########

toolbar.bevelWidth:			0

toolbar.borderWidth:			1
toolbar.borderColor:			#141415

toolbar.height:				22
toolbar.justify:			center

toolbar:				flat
toolbar.pixmap:				tbarfcs.xpm
# toolbar.color:				#
# toolbar.colorTo:			#

toolbar.clock:				flat
toolbar.clock.pixmap:			tbarufcs.xpm
toolbar.clock.justify:			right
toolbar.clock.color:			#e7e7e7
toolbar.clock.colorTo:			#e7e7e7
toolbar.clock.textColor:		#e7e7e7

toolbar.workspace:			flat
toolbar.workspace.pixmap:		tbarufcs.xpm
toolbar.workspace.justify:		Center
# toolbar.workspace.color:		#
# toolbar.workspace.colorTo:		#
toolbar.workspace.textColor:		#e7e7e7

toolbar.button:				flat
toolbar.button.pixmap:			tbarufcs.xpm
# toolbar.button.color:			#
# toolbar.button.colorTo:			#
toolbar.button.picColor:		#e7e7e7
toolbar.button.pressed:			flat
toolbar.button.pressed.pixmap:		tbarufcs.xpm
# toolbar.button.pressed.color:		#
# toolbar.button.pressed.colorTo:		#
toolbar.button.pressed.picColor:	#ffffff

toolbar.iconbar.empty:			flat
toolbar.iconbar.empty.pixmap:		tbarufcs.xpm
toolbar.iconbar.empty.color:		#
toolbar.iconbar.empty.colorTo:		#

toolbar.iconbar.focused:		flat
toolbar.iconbar.focused.pixmap:		tbarfcs.xpm
# toolbar.iconbar.focused.color:		#
# toolbar.iconbar.focused.colorTo:	#
toolbar.iconbar.focused.textColor:	#e7e7e7
toolbar.iconbar.focused.justify:	left

toolbar.iconbar.unfocused:		flat
toolbar.iconbar.unfocused.pixmap:	tbarufcs.xpm
# toolbar.iconbar.unfocused.color:	#
# toolbar.iconbar.unfocused.colorTo:	#
toolbar.iconbar.unfocused.textColor:	#BCBCBC
toolbar.iconbar.unfocused.justify:	left

############################################################## WINDOW ##########

window.bevelWidth:			0
window.shade:				false
window.borderWidth:			1
window.borderColor:			#444851

window.justify:				Center

window.title.height:			22

window.title.focus:			flat
window.title.focus.pixmap:		tbarfcs.xpm
# window.title.focus.color:		#
# window.title.focus.colorTo:		#
window.title.unfocus:			flat
window.title.unfocus.pixmap:		tbarufcs.xpm
# window.title.unfocus.color:		#
# window.title.unfocus.colorTo:		#

window.label.focus:			flat
#window.label.focus.pixmap:		tbarfcs.xpm
 window.label.focus.color:		#444851
# window.label.focus.colorTo:		#
window.label.focus.textColor:		#e7e7e7
window.label.unfocus:			flat
#window.label.unfocus.pixmap:		tbarufcs.xpm
 window.label.unfocus.color:		#444851
# window.label.unfocus.colorTo:		#
window.label.unfocus.textColor:		#909090

window.button.focus:			flat
window.button.focus.color:      	#444851
window.button.focus.colorTo:      	#444851
# window.button.focus.picColor:		#
window.button.unfocus:			flat
window.button.unfocus.Color:		#
window.button.unfocus.ColorTo:		#
window.button.unfocus.picColor:		#
window.button.pressed:			flat
window.button.pressed.color:		#
window.button.pressed.colorTo:		#
window.button.pressed.picColor:		#

window.shade.pixmap:			shadefcs.xpm
window.shade.unfocus.pixmap:		shadeufcs.xpm
window.shade.pressed.pixmap:		shadepr.xpm

window.unshade.pixmap:			unshadefcs.xpm
window.unshade.unfocus.pixmap:		unshadeufcs.xpm
window.unshade.pressed.pixmap:		unshadepr.xpm

window.menuicon.pixmap:			menuiconfcs.xpm
window.menuicon.unfocus.pixmap:		menuiconufcs.xpm
window.menuicon.pressed.pixmap:		menuiconpr.xpm

window.close.pixmap:			closefcs.xpm
window.close.unfocus.pixmap:		closeufcs.xpm
window.close.pressed.pixmap:		closepr.xpm

window.iconify.pixmap:			minfcs.xpm
window.iconify.unfocus.pixmap:		minufcs.xpm
window.iconify.pressed.pixmap:		minpr.xpm

window.maximize.pixmap:			maxfcs.xpm
window.maximize.unfocus.pixmap:		maxufcs.xpm
window.maximize.pressed.pixmap:		maxpr.xpm

window.stick.pixmap:			stickfcs.xpm
window.stick.unfocus.pixmap:		stickufcs.xpm
window.stick.pressed.pixmap:		stickpr.xpm

window.stuck.pixmap:			stuckfcs.xpm
window.stuck.unfocus.pixmap:		stuckufcs.xpm
window.stuck.pressed.pixmap:		stuckufcs.xpm

window.lhalf.pixmap:			lhalffcs.xpm
window.lhalf.unfocus.pixmap:		lhalfufcs.xpm
window.lhalf.pressed.pixmap:		lhalfpr.xpm

window.rhalf.pixmap:			rhalffcs.xpm
window.rhalf.unfocus.pixmap:		rhalfufcs.xpm
window.rhalf.pressed.pixmap:		rhalfpr.xpm

window.frame:				flat
window.frame.pixmap:			tbarfcs.xpm
#window.frame.color: 			
window.frame.focusColor:		#444851
window.frame.focusColorTo:		#444851

window.frame.unfocusColor:		#444851
window.frame.unfocusColorTo:		#444851

window.handle.focus:			flat
window.handle.focus.pixmap:		tbarufcs.xpm
# window.handle.focus.color:		#
# window.handle.focus.colorTo:		#
window.handle.unfocus:			flat
window.handle.unfocus.pixmap:		tbarufcs.xpm
# window.handle.unfocus.color:		#
# window.handle.unfocus.colorTo:		#
window.handleWidth:			3

window.grip.focus:			raised
window.grip.focus.pixmap:		tbarfcs.xpm
# window.grip.focus.color:		#
# window.grip.focus.colorTo:		#
window.grip.unfocus:			raised
window.grip.unfocus.pixmap:		tbarufcs.xpm
# window.grip.unfocus.color:		#
# window.grip.unfocus.colorTo:		#

#window.roundCorners:TopLeft TopRight


################################################################################
# EOF
